@import url("./fonts.css");
@import url("./home.css");
@import url("./colors.css");
@import url("./nav.css");
@import url("./top-nav.css");
@import url("./card.css");
@import url("./transaction-history.css");
@import url("./goals-stats.css");
@import url("./new-transaction.css");
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.none {
  display: none;
  transition-duration: 2.5s;
}
.pointer {
  cursor: pointer;
}
.app-main-right {
  margin-left: 30px;
}
