.card-section-container {
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);

  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 28px;
  width: fit-content;
  padding: 40px 20px;
}
.card-section-header {
  font-weight: 900;
  font-size: 20px;
}
.card {
  width: 320px;
  height: 206px;
  border-radius: 26px;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 20px;
}
.card-blue {
  background: linear-gradient(180deg, #197bbd 0%, #3391d0 100%);
}
.card-top {
  line-height: 12px;
}
.card-brand {
  font-size: 17.5px;
  font-weight: 700;
}
.card-account-type {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.39);
}
.card-number {
  width: 90%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
.card-number-set {
  font-size: 21px;
  letter-spacing: 2px;
  font-weight: 500;
}
.card-bottom {
  justify-content: space-between;
  width: 75%;
}
.card-bottom-item {
}
.card-bottom-head {
  font-size: 11px;
  line-height: 20px;
}
.card-bottom-value {
  font-size: 14.5px;
}
.payment-limit-container {
  background: #f1f1f1;
  border-radius: 13px;
  width: 320px;
  height: 10px;
}

.payment-limit {
  width: 120px;
  height: 10px;
  border-radius: 13px;
}
.limit-description {
  line-height: 35px;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.limit-payment-amount {
  font-weight: 600;
}
