:root {
  --light-blue: #197bbd;
  --dark-blue: #0f4264;
  --white: #fff;
  --light-white: #c7c7c7;
  --primary: #404040;
  --gold-yellow: #ffc145;
  --faint: #aeaeae;
  --fainter: #e3e3e3;
  --light-green: #439a86;
  --light-red: #bb4430;
}
.light-blue {
  color: var(--light-blue);
}
.bg-light-blue {
  background-color: var(--light-blue);
}
.dark-blue {
  color: var(--dark-blue);
}
.white {
  color: var(--white);
}
.light-white {
  color: var(--light-white);
}
.primary {
  color: #404040;
}
.yellow {
  color: var(--gold-yellow);
}
.bg-yellow {
  background: var(--gold-yellow);
}
.faint {
  color: var(--faint);
}
.fainter {
  color: var(--fainter);
}
.light-green {
  color: var(--light-green);
}
.light-red {
  color: var(--light-red);
}
