.app-container {
  /* padding: 40px 0px; */
}
.app-main {
  padding: 20px 60px;
  width: -webkit-fill-available;
  box-sizing: border-box;
}
.app-main-header {
  font-size: 40px;
  font-weight: 700;
}
.app-main-small {
  font-size: 17px;
  font-weight: 400;
}
.app-main-div {
  justify-content: space-between;
}
