.app-container {
  /* padding: 40px 0px; */
}
.app-main {
  padding: 20px 60px;
  width: -webkit-fill-available;
  box-sizing: border-box;
}
.app-main-header {
  font-size: 40px;
  font-weight: 700;
}
.app-main-small {
  font-size: 17px;
  font-weight: 400;
}
.top-nav {
  justify-content: space-between;
  width: 100%;
}
.top-nav-content {
  width: 200px;
  justify-content: space-between;
}
.nav-icon {
}
.profile-nav {
}
.profile-image {
}
.profile-details {
}
.profile-name {
}
