.side-nav {
  width: 300px !important;
  border-right: 2px solid #ebebeb89;
  height: 100vh;
  align-items: center;
  position: relative;
  top: 0px;
  left: 0px;
  padding-top: 40px;
  box-shadow: 0px 2px 4px 0px #ebebeb89;
  background: white;
  padding: 40px 20px 0px 20px;
  box-sizing: border-box;
}
.menu-icon {
  position: fixed;
  top: 37px;
  left: 15px;
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 2px;
  background: #0000000a;
}
.side-nav-content {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}
.top-icon {
  cursor: pointer;
  font-size: 25px;
  /* padding: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-icon span {
  font-size: 16px;
  font-weight: 700;
}
.side-nav-2 {
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  padding: 40px 0px;
  align-items: center;
}
.side-nav-items {
  justify-content: space-between;
  width: fit-content;
}
.side-nav-item {
  font-weight: 700;
  font-size: 17px;
  width: 160px;
  height: 40px;
  margin: 6px 0px;
  border-radius: 4px;
  transition-duration: 0.12s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  box-sizing: border-box;
  padding: 3px 10px;
}
.side-nav-item:hover {
  background: #f0f7ff;
  color: var(--light-blue);
}
.nav-bottom {
  align-items: center;
  justify-content: space-between;
  height: 190px;
  box-sizing: border-box;
  padding-bottom: 20px;
}
.nav-bottom img {
  width: 70px;
  height: 80px;
}
.nav-bottom-text {
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}
.premium-upgrade {
  outline: none;
  border: none;
  border-radius: 13.62px;
  font-size: 12px;
  font-weight: 700;
  width: 163.21px;
  height: 41.03px;
  cursor: pointer;
}
.premium-upgrade:hover {
  background-color: #f5c86f;
}
