.new-transaction-left {
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 19.0044px;
  height: 200px;
  padding: 20px 15px;
  box-sizing: border-box;
}
.transaction-people {
  justify-content: space-between;
  width: 400px;
  box-sizing: border-box;
}
.transaction-person {
  align-items: center;
  justify-content: space-between;
  height: 65px;
  cursor: pointer;
  transition-duration: 0.12s;
}
.transaction-person:hover {
  opacity: 0.96;
}
.transaction-person-name {
  font-weight: 700;
}
.tp-image {
  height: 45px;
}
.tp-image-1 {
  content: url("../IMG/TransactionPeople/TP1.png");
}
.tp-image-2 {
  content: url("../IMG/TransactionPeople/TP2.png");
}
.tp-image-3 {
  content: url("../IMG/TransactionPeople/TP3.png");
}
.tp-image-4 {
  content: url("../IMG/TransactionPeople/TP4.png");
}
.tp-image-5 {
  content: url("../IMG/TransactionPeople/TP5.png");
}
.add {
  align-items: center;
  justify-content: flex-end !important;
}
.add .transaction-person-name {
  margin-top: 10px;
}
.get-loan {
  background: url(../IMG/GetLoan.svg);
  background-repeat: no-repeat;
  width: 180px;
  height: 200px;
  box-sizing: border-box;
  background-size: cover;
  border-radius: 19px;
  padding: 10px;
  margin-left: 30px;
  align-items: flex-end;
}
.get-loan-header {
  font-weight: 900;
  font-size: 21px;
}
.transfer-container {
  justify-content: space-between;
}
.new-transaction-amount-container {
  border: 1px solid #197bbd;
  box-sizing: border-box;
  border-radius: 8px;
  width: 180px;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}
.new-transaction-amount-placeholder {
  text-align: center;
  width: 22px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: #c7c7c7;
  font-size: 20px;
}
.new-transaction-amount {
  padding-left: 10px;
  color: var(--primary) !important;
  font-weight: 600;
}
.new-transaction-amount,
.new-transaction-amount::placeholder {
  font-size: 20px;
  border: none;
  outline: none;
  height: 38px;
  width: 130px;
  box-sizing: border-box;
  color: #c7c7c7;
  border-radius: 8px;
}
.send-transfer {
  width: 180px;
  height: 40px;
  border-radius: 13.617px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
}
.send-transfer:hover {
  opacity: 0.9;
}
